snippet lgl "Liebe Grüße am Ende eines Briefs" !b
Liebe Grüße,
Lucas
endsnippet

snippet d "Datum" !w
`!v strftime('%F')`
endsnippet

snippet bug "try to reach $4" !b
@bib{ ${1:key},
field1 = "${2:mangatory}"
${3:field2 = "${4:optional}"
}}
endsnippet
