snippet CL "A changelog entry"
CL:
Schultyp: ${1:Alle}
Funktion: ${2:Absenzberichte für Klassen}
Info: ${3:Klassen -> Absenzen -> Berichte}
${4:Neue Funktion zum Ausdruck mit Kennzeichnung der unentschuldigten Absenzen}
endsnippet
