snippet lg "Liebe Grüße am Ende eines Briefs (kurz)" !b
LG, Lucas
endsnippet

snippet lgl "Liebe Grüße am Ende eines Briefs (lang)" !b
Liebe Grüße,
Lucas
endsnippet

snippet mfg "Mit freundlichen Grüßen am Ende eines Briefs" !b
Mit freundlichen Grüßen,
Lucas Hoffmann
endsnippet
