snippet div "a div block"
<div class="${1:notes}">
$0
</div>
endsnippet

# portable markdown line comments like described in
# https://stackoverflow.com/a/20885980/4102092
snippet // "Add a pseudo line comment" b
[//]: # $0
endsnippet
