# backup and swap files
*~
.*.swp
.swp

# spell files
spell/*
!spell/*.add

# bundle repositories
bundle
#bundle/*
#!bundle/vundle

# other stuff
#cache
viminfo
#doc/tags
#.VimballRecord
#.netrwhist
vimshell
.VimballRecord
