snippet SPA "part" b
\part{$1}

$0
endsnippet
snippet SCH "chapter" b
\chapter{$1}

$0
endsnippet
snippet SSE "section" b
\section{$1}

$0
endsnippet
snippet SSS "subsection" b
\subsection{$1}

$0
endsnippet
snippet SS2 "subsubsection" b
\subsubsection{$1}

$0
endsnippet
snippet SPG "paragraph" b
\paragraph{$1}

$0
endsnippet
snippet SSP "subparagraph" b
\subparagraph{$1}

$0
endsnippet
